@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascade Mono';
  src: url('/woff2/Cascade-HeavyItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}